.sidebar {
  width: 256px !important;
  min-width: 256px !important;
  height: 100vh;

  &-first-item {
    margin-top: 0 !important;
  }
}
.logo {
  h2 {
    font-weight: bold;
    color: #fff;
    padding:10px
  }
}
